<div *ngIf="index < bookList.length" class="book-wrapper">
  <div class="book">
    <div class="book-title">
      Име на книгата:
      <input
        class="input-title"
        [value]="bookList[index].title"
        (input)="processInputTitle($event)"
      />
    </div>

    <div class="book-shortDescription">
      Описание на книгата:
      <input
        class="input-title"
        [value]="bookList[index].shortDescription"
        (input)="processInputShortDescription($event)"
      />
    </div>
    <div class="book-author">
      Автор на книгата:
      <input
        class="input-title"
        [value]="bookList[index].author"
        (input)="processInputAuthor($event)"
      />
    </div>
    <!-- <div class="book-rating">
      Рейтинг:
      <input
        class="input-title"
        [value]="bookList[index].rating"
        (input)="processInputRating($event)"
      />
    </div> -->
    <div *ngIf="showRatingMoment" class="ratingMoment">
      Рейтинг до момента: {{ currentRating.toFixed(1) }}
    </div>
    <div>
      <button class="button" (click)="processRating(1)">1</button>
      <button class="button" (click)="processRating(2)">2</button>
      <button class="button" (click)="processRating(3)">3</button>
      <button class="button" (click)="processRating(4)">4</button>
      <button class="button" (click)="processRating(5)">5</button>
    </div>
  </div>
</div>

<div *ngIf="index == bookList.length && !showFinishValue" class="choice">
  <h4>Вие оценихте всички книги успешно.</h4>
  <button
    (click)="index = 0; currentRating = 0; showRatingMoment = !showRatingMoment"
  >
    Искам да ги оценя отново
  </button>
  <button (click)="showFinish()">Не, ок съм</button>
</div>

<div *ngIf="showFinishValue" class="finishText">
  <h4>Работата е свършена успешно.</h4>
</div>
