.book-wrapper {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.button {
  width: 50px;
  background: #dedede;
  border: solid #000 1px;
}

.choice{
    margin: auto;
    width: 20%;
    padding: 10px;
}

.finishText{
    margin: auto;
    width: 20%;
    padding: 10px;
}

